h1{
	
	margin: 150px; 
	font-size: 50px;
	color: pink;
	font-family: "Futura";
	
	background-margin:;
}


#first {
	font-family: "Futura";
	color: pink;}
#second {
	font-family: "Futura";
	color: pink;}
#third {
	font-family: "Futura";
	color: pink;}
#fourth {
	font-family: "Futura";
	color: pink;}


#first:hover {
	font-family: "Futura";
	color: white;}
#second:hover {
	font-family: "Futura";
	color: white;}
#third:hover {
	font-family: "Futura";
	color: white;}
#fourth:hover {
	font-family: "Futura";
	color: white;}


#bakgrundsbild {
	width: 50%;
	height:50%;
}

thead {
	color:blue;
	background-color: red;
}

.beforerad{
	color: pink;
}

#today {
	color: pink;

}

#discovercontacthire {
	color: pink;
	font-family: "Futura";
}



.dropbtn {
	font-family: futura;
    background-color: white;
    color: gold;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropdown {
	position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: futura;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: aliceblue;
}











#filmbildergifar {
	margin-right: 10%;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}



