*{
    margin:0;
    padding:0;
    background-position: left center;
}


h1{
	color: black;
	font-family: "Futura";
	font-size: 16px;
    margin: 0;
    margin-left: 20px;
    line-height: 50px;
   
}

#background{
	background: url("bluesea.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
}

#menyrad {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "futura";
    font-size: 12px;
    height: 50px;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    margin-top: 30px;
    height: 50px;
}

li {
    display: inline-block;
    margin: 0;
    line-height: 25px;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D7F9F5;}


a {
    background-position: left center;
    background-repeat: no-repeat;}

/*.sections a:hover {
	opacity: 0.5;}*/

/*#firstsection a {
	padding-top: 60px;
    position: absolute;}*/

.pil a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	margin-top: 650px;
	-webkit- transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;}

/*.pil1 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	margin-top: 600px;
	-webkit- transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;}*/

/*#video-background {
/*  making the video fullscreen  */
 /* position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;

} */

/*#meny{
display:inline;
float: left;

margin}*/


.aboutme{
font-family: futura;
margin-bottom: 80px;
margin-top: 50px;
}

.images{ 
padding:2em;
margin-top: 10px;
margin-left: 40px;
margin-right: 40px;
background-color: white;}



/*.dropbtn {
	font-family: "Futura";
    background-color: aliceblue;
    color: gold;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer; }

.dropdown {
	position: relative;
    display: inline-block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: "Futura";
    text-decoration: none;
    display: block;}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
    display: block;}

.dropdown:hover .dropbtn {
    background-color: aliceblue;}*/

.marrang {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .marrang:hover {
        background: url("marrang.png") no-repeat;}
.peace{
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .peace:hover {
        background: url("peace.png") no-repeat;}
.sallad {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
       	padding:1em;
        display: inline-block;}
 .sallad:hover {
        background: url("romanian.png") no-repeat;}
.beauvoir {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
      	padding:1em;
        display: inline-block;}
 .beauvoir:hover {
        background: url("beauvoir.png") no-repeat;}
.disco {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .disco:hover {
        background: url("discokula.png") no-repeat;}
.mars {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .mars:hover {
        background: url("mars.png") no-repeat;}
.greensea {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .greensea:hover {
        background: url("greensea.png") no-repeat;}
.wave {
        width: 150px;
        height: 150px;
        background: url("HI.png") no-repeat;
        padding:1em;
        display: inline-block;}
 .wave:hover {
        background: url("Wave.png") no-repeat;}


#ikoner{
margin-left:40px;
}

.knapp {
 padding: 15px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white; 
    color: black; 
    border: 10px solid gold;
    width: 400px;
    height: 130px;
}

.knapp:hover {
    background-color: aliceblue;
    color: black;}

#listan {
		font-family: "Futura";
		display: block;
		}



#CV {
   padding:3em;
}

#flower{
    background: url("flowers.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 170vh;
}

#sol{
    background: url("sol.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
}

#projekt{
    font-family: "Futura";
    font-size: 18px;
    line-height: 150px;
}

.code {
		width: 180px;
        height: 250px;
        background: url("code.png") no-repeat;
        padding:3em;
        display: inline-block;
        margin-left: 40px;}
 .code:hover {
        background: url("codecover.png") no-repeat;
}

.seven{
		width: 180px;
        height: 250px;
        background: url("24seven.png") no-repeat;
        padding:3em;
        display: inline-block;}
.seven:hover {
        background: url("sevencover.png") no-repeat;
}

#projecticons{
	margin-left: 50px;
}

#telefon{
    background: url("telefon.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
}

#contacttext{
    font-family: "Futura";
    font-size:16px;
    padding:10em;
margin-left: 500px;

}








